
body{
    all: unset;
    height: 100vh;
    width: 100vw;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url('/img/91qahZOIs6L._SL1500_.jpg'); */
    /* background: url('/background: url('/img/fbb212f634e0b2825787f8b584fca942.png'); */
    background-position: center;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.137);
    background-size: 49%;

}

    /* LAS CAJAS QUE HACEN DE CIMIENTOS DE LA ESTRUCTURA */

.boxTop{
    box-sizing: border-box;
    height: 20%;
    width: 100%;
    /* background-color: rgb(6, 170, 1); */
    /* opacity: 0.5; */

    display: flex;
    justify-content: center;
    align-items: center;

}

    /* TRIGGERS & HEAD */

    .boxTriggerL{
        box-sizing: border-box;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 40em;
        width: 20em;
        /* background-color: rgb(211, 233, 13); */
    }
    
    .boxCentralHead{
        box-sizing: border-box;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 40em;
        width: 32em;
        /* background-color: rgb(0, 248, 0); */
    }
    
    .boxTriggerR{
        box-sizing: border-box;
    
        display: flex;
        justify-content: center;
        align-items: center;  
    
        height: 40em;
        width: 20em;
        /* background-color: rgb(197, 231, 0); */
    }
    
    .triggerL{
        height: 5em;
        width: 20em;
    
        margin-top: 25em;
        border-top-left-radius: 40%;
        background-color: cyan;
    }
    
    .centralHead{
        box-sizing: border-box;
        height: 40em;
        width: 30em;
        
        margin-top: 49em;
        display: flex;
        justify-content: center;
        align-items: center;
        
        opacity: 1;
        border-radius: 50% 50% 25% 25% / 10% 10% 96% 96%;
        background-color: rgb(122, 122, 122);
        clip-path: inset(0% 0% 60% 0%);
        z-index: 3;
    }

    .nintendoElip{
        box-sizing: border-box;
        height: 4em;
        width: 17em;

        display: flex;
        justify-content: center;
        align-items: center; 

        margin-top: -21.7em;
        margin-right: 1em;
        /* background-color: rgb(211, 233, 13); */
        border-radius: 5em;
        border: inset 0.5em white;
    }

    .nintendoBrand{

        height: 100%;
        width: 100%;

        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center; 
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .triggerR{
        height: 5em;
        width: 20em;
    
        margin-top: 25em;
    
        /* transform:rotate(10deg); */
        border-top-right-radius: 40%;
        background-color: cyan;
    }

.boxCentral{
    height: 65%;
    width: 100%;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: brown; */
    /* opacity: 0.5; */
}

.boxBottom{
    height: 50em;
    width: 100%;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;

    /* background-color: blue; */
    /* opacity: 0.5; */
}
        /* CUERPO PRINCIPAL DEL MANDO  */

  .mainBody1{

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height: 30em;
    width: 74em;
    box-sizing: border-box;
    z-index: 2;
    background-image: linear-gradient(rgb(119, 119, 119), rgb(175, 175, 175));
    /* opacity: 0.5; */
    border-radius: 28% 28% 28% 28% / 48% 48% 48% 48% ;
    margin-top: -3em;
    border: solid 5px;
    border-color: rgb(95, 95, 95);
}  
        /* CRUCETA BOX */
.a1{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
  
    height: 100%;
    width: 100%;

    /* opacity: 0.5;
    background-color: greenyellow; */

}

.circuloCruceta{
    height: 17em;
    width: 17em;
    margin-top: 4em;
    border-radius: 100%;
    background-image: radial-gradient(circle, rgba(82,82,82,1) 0%, rgb(102, 102, 102) 26%, rgb(175, 175, 175) 89%, grey 100%);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareCruceta{
    height: 12em;
    width: 12em;

    /* background-color: rgb(6, 170, 1); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowBox{
    height: 12em;
    width: 4em;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.arrow{
    height: 4em;
    width: 4em;

    /* background-color: rgb(6, 170, 1); */
}

.arrow2{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-radius: 10% 0% 0% 10% ;
    background-color: white;
    box-shadow: -0.16em -0.18em 0.125em 0.315em rgb(24, 24, 24);
}

.aLeft{
    width: 0;
	height: 0;
    background: transparent;
	border-top: 1.2em solid transparent;
	border-right: 2.4em solid rgb(38, 41, 48);
	border-bottom: 1.2em solid transparent;
    margin-top: 0em;
    margin-right: 0.8em ;
    z-index: 2;
}

.arrow4{
    height: 4em;
    width: 4em;

    border-radius: 10% 10% 0 0;
    background-color: white;
    box-shadow: 0em -0.38em 0.1em 0.215em rgb(24, 24, 24);

    display: flex;
    justify-content: center;
    align-items: center;
}

.aUp{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-bottom: 2.4em solid rgb(38, 41, 48);
    margin-bottom: 0.8em;
}

.arrow5{
    height: 4em;
    width: 4em;

    border-radius: 0%;
    background-color: white;
}

.aCenter{
    height: 100%;
    width: 100%;

    border-radius: 100%;
    background-image: radial-gradient(circle, rgb(54, 58, 68) 10%, rgb(38, 41, 48) 45%, rgb(60, 64, 75) 55%);
}

.arrow6{
    height: 4em;
    width: 4em;

    border-radius: 0 0% 10% 10%;
    background-color: white;
    box-shadow: 0em 0.28em 0.1em 0.215em rgb(24, 24, 24);

    display: flex;
    justify-content: center;
    align-items: center;
}

.aDown{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-top: 2.4em solid rgb(38, 41, 48);
    margin-top: 0.8em;
}


.arrow8{
    height: 4em;
    width: 4em;

    border-radius: 0 10% 10% 0;
    background-color: white;
    box-shadow: 0.3em -0.18em 0.125em 0.215em rgb(24, 24, 24);

    display: flex;
    justify-content: center;
    align-items: center;
}

.aRight{
    width: 0;
	height: 0;
    background: transparent;
	border-top: 1.2em solid transparent;
	border-left: 2.4em solid rgb(38, 41, 48);
	border-bottom: 1.2em solid transparent;
    margin-left: 0.8em;
}

.sh{
    /* border-radius: 15%; */
    background-color: rgb(60, 64, 75);
}

        /* JOYSTICK & START  */
.a2{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100%;
    width: 100%;
    margin-bottom: 0em;

    /* opacity: 0.5; */
    /* background-color: greenyellow; */

}

.squareTop{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(237, 241, 0); */
}

.squareMid{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: turquoise; */

}

.squareBot{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(0, 226, 49); */



}

.shadowButtonStart{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7em;
    width: 7em;

    margin-bottom: -9em;
    margin-left: 1em; 
    border-radius: 100%;
    /* background-image: radial-gradient(circle, rgba(82,82,82,1) 0%, rgb(102, 102, 102) 26%, rgb(180, 180, 180) 89%, rgb(255, 255, 255) 100%); */
    box-shadow: inset 0em 0em 0.3em 0.8em rgb(138, 138, 138);
}

.buttonStart{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5.5em;
    width: 5.5em;

    
    background-image: radial-gradient(rgb(255, 87, 87) 35%, rgb(255, 27, 27) 75%, rgb(255, 0, 0) 75%);
    border-radius: 100%;
    box-shadow: 0.06em 0.05em 0.2em 0.2em black;
}

.startFont{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: -0.3em;
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px rgb(43, 43, 43), 0 1px rgb(68, 68, 68), 1px 0 rgb(168, 168, 168), 0 -1px black;
    font-size: 2.5em;
    margin-left: -0.3em;
    
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 16em;
    width: 16em;

    border-radius: 100%;
    background-image: radial-gradient(circle, rgb(179, 179, 179) 35%, rgb(116, 116, 116) 45%, rgb(53, 53, 53) 100%);
    box-shadow: 0em 0em 0.175em 0.215em rgb(24, 24, 24);
    z-index: 2;
    margin-bottom: -20em;
    margin-left: 1em;
}

.octagonShadow{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 12em;
    width: 12em;

    background: rgb(117, 117, 117);
    border-radius: 100%;
    background-image: radial-gradient(circle, rgba(82,82,82,0) 0%, rgba(186,186,186,0) 46%, rgba(190,190,190,1) 48%, rgba(195,195,195,0) 50%, rgba(207,207,207,0) 100%);

    z-index: 3;
    transform: rotate(22.5deg);
    box-shadow: inset 0.06em 0.05em 0.2em 0.2em #797979;
    
}
 .octagon{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 9em;
    width: 9em;
    z-index: 3;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform: rotate(45deg);
    background: rgb(65, 65, 65);
    
}

.joystick{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 7em;
    width: 7em;

    background-color: rgb(219, 219, 219);
    border-radius: 100%;
}

.innerCercle1{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;
    
    background: radial-gradient(circle, rgba(219,219,219,0) 0%, rgba(186,186,186,0) 10%, rgba(190,190,190,1) 16%, rgba(196,196,196,0) 22%, rgba(200,200,200,1) 28%, rgba(201,201,201,0) 34%, rgba(207,207,207,0) 100%);
    border-radius: 100%;
}

.innerCercle2{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;

    background: radial-gradient(circle, rgba(219,219,219,0) 0%, rgba(186,186,186,0) 30%, rgba(190,190,190,1) 36%, rgba(196,196,196,0) 42%, rgba(200,200,200,1) 48%, rgba(201,201,201,0) 54%, rgba(207,207,207,0) 100%);
    border-radius: 100%;
}

.innerCercle3{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;
    
    background: radial-gradient(circle, rgba(219,219,219,0) 0%, rgba(186,186,186,0) 50%, rgba(190,190,190,1) 56%, rgba(196,196,196,0) 62%, rgba(200,200,200,1) 68%, rgba(201,201,201,0) 74%, rgba(207,207,207,0) 100%);
    border-radius: 100%;

}

.blackDot{
    height: 0.8em;
    width: 0.8em;

    border-radius: 100%;
    background-color: black;
}

        /* ACTION BUTTONS */

.a3{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

 
    height: 100%;
    width: 100%;

    /* opacity: 0.5; */
    /* background-color: greenyellow; */

}

.actionButtons{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 100%;
    width: 100%;

    /* background-color: brown; */
    z-index: 3;
}

.yellowBox{
    height: 21.4em;
    width: 21.4em;
    
    margin-top: 3em;
    /* background-color: rgb(6, 170, 1); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.yellowCercle{
    height: 10.7em;
    width: 10.7em;
    margin-top: 8em;
    margin-right: -2em;
    border-radius: 100%;
    border: solid 0.5em white;
        
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBox{
    height: 21.4em;
    width: 5em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -3em ;
    
    flex-direction: column;
}

.yellow{
    height: 4.9em;
    width: 4.9em;

    border-radius: 100%;
    /* background-color: rgb(6, 170, 1); */
}
.yellow2{
    height: 4.9em;
    width: 4.9em;

    border-radius: 100%;
    background-color: rgb(238, 255, 0);
    margin-left: 0.9em;
    margin-top: -0.1em;
}

.yLeft{
    width: 0;
    height: 0;
    background: transparent;
    border-top: 1.2em solid transparent;
    border-right: 2.4em solid rgb(38, 41, 48);
    border-bottom: 1.2em solid transparent;
    margin-top: 0em;
    margin-right: 0.8em ;
    z-index: 2;
}
.yellow4{
    height: 4.9em;
    width: 4.9em;

    margin-top: 0.65em;
    margin-right: -0.25em;
    border-radius: 100%;
    background-color: rgb(238, 255, 0);
}

.yUp{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-bottom: 2.4em solid rgb(38, 41, 48);
    margin-bottom: 0.8em;
}

.yellow5{
    height: 4.9em;
    width: 4em;

    margin-top: 0em;
    margin-right: 0em;
    border-radius: 100%;
    /* background-color: rgb(238, 255, 0); */
}

.yellow6{
    height: 4.9em;
    width: 4.9em;

    margin-top: -1em;
    border-radius: 100%;
    background-color:  rgb(238, 255, 0);
}

.yDown{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-top: 2.4em solid rgb(38, 41, 48);
    margin-top: 0.8em;
}
.yellow8{
    height: 4.9em;
    width: 4.9em;

    border-radius: 100%;
    background-color:  rgb(238, 255, 0);
}

.yRight{
    width: 0;
	height: 0;
    background: transparent;
	border-top: 1.2em solid transparent;
	border-left: 2.4em solid rgb(38, 41, 48);
	border-bottom: 1.2em solid transparent;
    margin-left: 0.8em;
}

.actionButtons2{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    /* background-color: purple; */
}
.AB{
    height: 15em;
    width: 15em;

    /* background-color: blue; */

    margin-top: -5em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttonA{
    height: 5em;
    width: 5em;

    margin-top: -5em;
    border-radius: 100%;
    background-color: white;
}

.spaceAB{
    height: 3em;
    width: 3em;

    background-color: teal;
}

.buttonB{
    height: 5em;
    width: 5em;
    border-radius: 100%;
    background-color: white;
}


        /* BOX DE LOS AGARRES DEL MANDO */

.gridBoxBottom{
    box-sizing: border-box;

    height: 100%;
    width: 15em;
    margin-top: -20em;

    z-index: 1;
            
    /* background-color: beige; */
}


.centralLeg{
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45em;
    width: 22.5em;
    z-index: 2;
    background-image: linear-gradient(rgb(175, 175, 175) 25%, rgb(175, 175, 175));
    /* opacity: 0.5; */
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    margin-top: -5.8em;
    margin-left: -3.5em;
    border: solid 5px;
    border-color: rgb(95, 95, 95);
}


.botCurveL{
    /* box-sizing: border-box; */
    width: 8em;
    height: 8em; 
    border: solid; 
    border-width: 2.95em 3em;
    border-top-right-radius: 75%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-color: rgb(175, 175, 175) rgb(175, 175, 175) transparent transparent;
    /* opacity: 0.5; */
    margin-top: 1.7em;
    margin-left: 1.5em;
    z-index: 3;
    /* background-color: darkgreen; */
}

.botCurveR{
    /* box-sizing: border-box; */
    width: 8em;
    height: 8em; 
    border: solid; 
    border-width: 2.95em 3em;
    border-top-right-radius: 0%;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-color: rgb(175, 175, 175) transparent transparent rgb(175, 175, 175);
    /* opacity: 0.5; */
    margin-top: 1.7em;
    margin-right: 1.5em;
    z-index: 3;
    
    /* background-color: darkgreen; */
}

.leftLeg{
    box-sizing: border-box;
    height: 33em;
    width: 16em;
    z-index: 1;
    background-image: radial-gradient(circle, rgb(185, 185, 185) 5%, grey 65%);
    border-radius: 5% 28% 51% 38% / 36% 9% 76% 62% ;
    border: solid 5px;
    border-color: rgb(95, 95, 95);
    margin-top: -9em;
    margin-left: -0.5em;
    transform: rotate(2deg);

}

.rightLeg{
    box-sizing: border-box;
    height: 33em;
    width: 16em;
    z-index: 1;
    background-image: radial-gradient(circle, rgb(185, 185, 185) 5%, grey 65%);
    border-radius: 28% 10% 38% 51% / 9% 36% 62% 76% ;
    border: solid 5px;
    border-color: rgb(95, 95, 95);
    margin-top: -9em;
    margin-right: 0em;
    transform: rotate(-2deg);
}



