
body{
    all: unset;
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: url('/img/91qahZOIs6L._SL1500_.jpg'); */
    /* background: url('/background: url('/img/fbb212f634e0b2825787f8b584fca942.png'); */
    background-position: center;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.137);
    background-size: 90%;
    background-position-y: 16em;

}

    /* STRUCTURE BOXES */

.boxTop{
    box-sizing: border-box;
    height: 20em;
    width: 60em;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: blue; */
}

    /* TRIGGERS & HEAD */

    .boxTriggerL{
        box-sizing: border-box;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 40em;
        width: 30em;
        /* background-color: rgb(211, 233, 13); */
    }
    
    .boxCentralHead{    
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 40em;
        width: 32em;
        /* background-color: rgb(0, 248, 0); */
    }
    
    .boxTriggerR{
        box-sizing: border-box;
    
        display: flex;
        justify-content: center;
        align-items: center;  
    
        height: 40em;
        width: 25em;
        /* background-color: rgb(197, 231, 0); */
    }
    
    .triggerL{
        box-sizing: border-box;
        height: 10em;
        width: 25em;
    
        margin-top: 27em;
        margin-right: -4em;
        border-top-left-radius: 40%;
    
        /* border-radius: 35% 0% 0% 0% / 25% 0% 100% 100%; */
        background-color: rgb(60, 64, 75);
        border-top: solid 0.5em grey;
        /* box-shadow: inset 0em 0em 0.2em 0.5em white; */
        border-width: 0.5em;
        z-index: 1;
        transform: rotate(-7deg);
    }
    
    .centralHead{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40em;
        width: 32em;
        
        margin-top: 46.5em;        
        /* opacity: 0.5; */
        background-image: linear-gradient(rgb(119, 119, 119), rgb(175, 175, 175));
        border-radius: 50% 50% 50% 50% / 10% 10% 96% 96%;

        background-color: rgb(122, 122, 122);
        /* border-width: 0.1em 3em; */
        /* border-color: rgb(175, 175, 175) rgb(175, 175, 175) transparent transparent; */
        clip-path: inset(0% 0% 50% 0%);
        z-index: 3;
        /* box-shadow: inset 0em 0em 0.1em 1em rgba(240, 240, 240, 0.548); */
        border-top: solid 0.5em rgb(192, 192, 192);
        border-right: solid 0.5em rgb(72, 77, 90);
        border-left: solid 0.5em rgb(72, 77, 90);
        /* box-shadow: 0em 0em 0.125em 2em rgb(24, 24, 24); */
    }

    .nintendoElip{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 4em;
        width: 17em;

        margin-top: -23em;
        margin-right: 1em;
        /* background-color: rgb(211, 233, 13); */
        border-radius: 5em;
        border: solid 0.5em rgba(59, 59, 59, 0.61);
        box-shadow: 0em 0.01em 0.1em 0.02em rgb(240, 240, 240);
    
    }

    .nintendoBrand{
        display: flex;
        justify-content: center;
        align-items: center; 

        height: 100%;
        width: 100%;

        margin-top: 0.05em;
        color: rgba(59, 59, 59, 0.61);
        font-size: 2.5em;
        letter-spacing: 0.01em;
        font-family: pretendo;
        border-radius: 5em;
        box-shadow: inset 0em 0.01em 0.03em 0.01em rgb(240, 240, 240);
        text-shadow: -1px 0 rgb(182, 182, 182), 0 1px rgb(163, 163, 163), 1px 0 black, 0 -1px black;
    }
    
    .triggerR{
        height: 5em;
        width: 20em;
    
        margin-top: 23em;
        margin-left: -5em;
        /* opacity: 0.5; */
        /* transform:rotate(10deg); */
        border-top-right-radius: 40%;
        /* border-radius: 0% 28% 0% 0% / 0% 10% 100% 0% ; */
        background-color: rgb(60, 64, 75);
    }

.boxCentral{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32em;
    width: 75em;
    /* background-color: brown; */
    /* opacity: 0.5; */
}

        /* CUERPO PRINCIPAL DEL MANDO  */

  .mainBody1{
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height: 30em;
    width: 74em;
    
    z-index: 2;
    background-image: linear-gradient(rgb(119, 119, 119), rgb(175, 175, 175));
    border-radius: 28% 28% 28% 28% / 46% 46% 46% 46% ;
    margin-top: -3em;
    border-top: solid rgb(153, 153, 153);
    border-right: solid rgb(143, 143, 143);
    /* border-bottom: solid 0.5em rgba(192, 192, 192, 0); */
    border-left: solid 0.5em rgb(121, 121, 121);
    border-width: 0.8em 0.6em;
    
    /* border: solid; */
    /* border-color: rgba(255, 255, 255, 0.332)  rgba(255, 255, 255, 0.137) transparent  transparent; */
    /* border-width: 0.2em 0.5em;    */
    /* box-shadow: inset 0em 0.01em 0.3em 0.1em rgba(240, 240, 240, 0.548); */

}  
        /* CROSSHEAD BOX */
.a1{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
  
    height: 30em;
    width: 25em;

    /* opacity: 0.5; */
    /* background-color: greenyellow;  */
}
        /* CROSSHEAD */

.circuloCruceta{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 17em;
    width: 17em;

    margin-top: 4em;
    border-radius: 100%;
    background-image: radial-gradient(circle, rgba(82,82,82,1) 0%, rgb(102, 102, 102) 26%, rgb(175, 175, 175) 89%, grey 100%);
    
    border: solid 0.2em rgb(61, 61, 61);
    border-color: rgba(255, 255, 255, 0.332)  transparent  transparent rgba(255, 255, 255, 0.137);
    border-width: 0.008em 0.03em;   
    box-shadow: inset 0em 0.01em 0.05em 0em rgba(240, 240, 240, 0.548);
}

.squareCruceta{
    height: 12em;
    width: 12em;

    /* background-color: rgb(6, 170, 1); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowBox{
    height: 12em;
    width: 4em;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.arrow{
    height: 4em;
    width: 4em;

    /* background-color: rgb(6, 170, 1); */
}

.arrow2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-radius: 10% 0% 0% 10% ;
    border-top: solid 0.5em rgb(60, 64, 75);
    border-bottom: solid 0.5em rgb(72, 77, 90);
    border-left: solid 0.5em rgb(72, 77, 90);
    box-shadow: -0.16em -0.18em 0.125em 0.315em rgb(24, 24, 24);
}

.aLeft{
    width: 0;
	height: 0;

    background: transparent;
	border-top: 1.2em solid transparent;
	border-right: 2.4em solid rgb(38, 41, 48);
	border-bottom: 1.2em solid transparent;
    margin-top: 0em;
    margin-right: 0.8em ;
    z-index: 2;
}

.arrow4{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-radius: 10% 10% 0 0;
    box-shadow: 0em -0.38em 0.1em 0.215em rgb(24, 24, 24);
    /* border-left: solid 0.5em rgb(60, 64, 75); */
    border-left: solid 0.5em rgb(72, 77, 90);
    border-right: solid 0.5em rgb(60, 64, 75);
    border-top: solid 0.5em rgb(72, 77, 90);

}

.aUp{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-bottom: 2.4em solid rgb(38, 41, 48);
    margin-bottom: 0.8em;
}

.arrow5{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-radius: 0%;
    
}

.aCenter{
    height: 60%;
    width: 60%;

    border-radius: 100%;
    background-image: radial-gradient(circle, rgb(54, 58, 68) 10%, rgba(38, 41, 48, 0.507) 65%, rgb(60, 64, 75) 80%);
    border: solid 0.2em rgb(61, 61, 61);
    border-color: rgba(255, 255, 255, 0.137) rgba(255, 255, 255, 0.432) transparent transparent;
    border-width: 0.01em 0.03em;
}

.arrow6{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-radius: 0 0% 10% 10%;
    box-shadow: 0em 0.28em 0.1em 0.215em rgb(24, 24, 24);
    border-left: solid 0.5em rgb(60, 64, 75);
    border-right: solid 0.5em rgb(72, 77, 90);
    border-bottom: solid 0.5em rgb(72, 77, 90);

}

.aDown{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-top: 2.4em solid rgb(38, 41, 48);
    margin-top: 0.8em;
}


.arrow8{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4em;
    width: 4em;

    border-radius: 0 10% 10% 0;
    box-shadow: 0.3em -0.18em 0.125em 0.215em rgb(24, 24, 24);

    border-bottom: solid 0.5em rgb(60, 64, 75);
    border-right: solid 0.5em rgb(72, 77, 90);
    border-top: solid 0.5em rgb(72, 77, 90);
    
}

.aRight{
    width: 0;
	height: 0;
    background: transparent;
	border-top: 1.2em solid transparent;
	border-left: 2.4em solid rgb(38, 41, 48);
	border-bottom: 1.2em solid transparent;
    margin-left: 0.8em;
}

.sh{
    /* border-radius: 15%; */
    background-color: rgb(60, 64, 75);
}
        /* / CROSSHEAD */

        /* JOYSTICK & START BOXES */
.a2{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 30em;
    width: 25em;
    margin-bottom: 0em;

    /* opacity: 0.5; */
    /* background-color: greenyellow; */
}

.squareTop{
    height: 10em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(237, 241, 0); */
}

.squareMid{
    height: 10em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: turquoise; */
}

.squareBot{
    height: 10em;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(0, 226, 49); */
}

        /* BUTTON START */

.shadowButtonStart{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7em;
    width: 7em;

    margin-bottom: -9em;
    margin-left: 1em; 
    border-radius: 100%;
    background-image: radial-gradient(circle, rgba(82,82,82,1) 0%, rgb(102, 102, 102) 26%, rgb(180, 180, 180) 80%, rgb(255, 255, 255) 100%);
    border: solid 0.2em rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.247) rgba(255, 255, 255, 0.247) transparent transparent;
    border-width: 0.05em 0.3em;
    /* box-shadow: inset 0em 0em 0.3em 0.8em rgb(138, 138, 138); */
}

.buttonStart{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5.5em;
    width: 5.5em;
    
    background-image: radial-gradient(rgb(255, 87, 87) 35%, rgb(255, 27, 27) 75%, rgb(255, 0, 0) 75%);
    border-radius: 100%;
    /* border-width: 0.1em 0.3em; */
    border: solid 0.2em rgb(255, 0, 0);
    border-color: rgba(255, 255, 255, 0.418) rgba(255, 255, 255, 0.432) transparent transparent;
    border-width: 0.01em 0.03em;
    
    box-shadow: 0.06em 0.05em 0.2em 0.2em black;
}

.startFont{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: -0.3em;
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px rgb(43, 43, 43), 0 1px rgb(68, 68, 68), 1px 0 rgb(168, 168, 168), 0 -1px black;
    font-size: 2.5em;
    margin-left: -0.3em;
    
}

        /* / BUTTON START */

        /* JOYSTICK */

.circle{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 16em;
    width: 16em;

    border-radius: 100%;
    background-image: radial-gradient(circle, rgb(95, 115, 125) 35%, rgb(89, 94, 109) 45%, rgb(60, 64, 75) 100%);
    background-color: rgb(60, 64, 75);
    box-shadow: 0em 0em 0.175em 0.215em rgb(24, 24, 24);
    /* box-shadow: 0.06em 0.05em 0.2em 0.2em black;  */
    z-index: 5;
    margin-bottom: -20em;
    margin-left: 1em;
}


.octagonShadow{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 12em;
    width: 12em;

    background: rgb(60, 64, 75);
    border-radius: 40%;
    background-image: radial-gradient(circle, rgb(95, 115, 125) 35%, rgb(89, 94, 109) 45%, rgb(60, 64, 75) 100%);
    z-index: 3;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform: rotate(22.5deg);
    box-shadow: inset 0.05em 0.05em 0.3em 0.2em rgba(85, 85, 85, 0.459);
    
}
 .octagon{
     box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 9em;
    width: 9em;
    z-index: 3;
    border-radius: 38%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    transform: rotate(45deg);
    background-image: radial-gradient(circle, rgb(0, 0, 0) 15%, rgb(18, 18, 20) 45%, rgb(60, 64, 75) 70%);
    box-shadow: inset 0.05em 0.05em 0.3em 0.2em rgb(60, 64, 75);
    
}

.joystick{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 7em;
    width: 7em;

    background-color: rgb(219, 219, 219);
    border-radius: 100%;
}

.innerCercle1{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;
    
    background: radial-gradient(circle, rgba(219,219,219,0) 0%, rgba(186,186,186,0) 10%, rgba(190,190,190,1) 16%, rgba(196,196,196,0) 22%, rgba(200,200,200,1) 28%, rgba(201,201,201,0) 34%, rgba(207,207,207,0) 100%);
    border-radius: 100%;
}

.innerCercle2{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;

    background: radial-gradient(circle, rgba(219,219,219,0) 0%, rgba(186,186,186,0) 30%, rgba(190,190,190,1) 36%, rgba(196,196,196,0) 42%, rgba(200,200,200,1) 48%, rgba(201,201,201,0) 54%, rgba(207,207,207,0) 100%);
    border-radius: 100%;
}

.innerCercle3{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;
    
    background: radial-gradient(circle, rgba(219,219,219,0) 0%, rgba(186,186,186,0) 50%, rgba(190,190,190,1) 56%, rgba(196,196,196,0) 62%, rgba(200,200,200,1) 68%, rgba(201,201,201,0) 74%, rgba(207,207,207,0) 100%);
    border-radius: 100%;

}

.blackDot{
    height: 0.8em;
    width: 0.8em;

    border-radius: 100%;
    background-color: black;
}

        /* / JOYSTICK */

        /* ACTION BUTTONS */

.a3{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    height: 30em;
    width: 25em;

    /* opacity: 0.5; */
    /* background-color: greenyellow; */
}

.actionButtons{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    margin-bottom: 0em;
    height: 30em;
    width: 100%;

    /* background-color: rgb(5, 173, 196); */
    z-index: 3;
}

.yellowBox{
    height: 21.4em;
    width: 21.4em;
    
    margin-top: 3em;
    /* background-color: rgb(6, 170, 1); */

    display: flex;
    justify-content: center;
    align-items: center;
}

.yellowCercle{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10.7em;
    width: 10.7em;
    margin-top: 8em;
    margin-right: -2em;
    border-radius: 100%;
    border: solid 0.5em rgb(59, 59, 59);
    box-shadow: inset 0em 0.01em 0.2em 0.04em rgb(240, 240, 240);
}

.actionBox{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 21.4em;
    width: 5em;
    margin-top: -3em ;

    flex-direction: column;
}

.yellow{
    height: 4.9em;
    width: 4.9em;

    border-radius: 100%;
    /* background-color: rgb(6, 170, 1); */
}
.yellow2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.9em;
    width: 4.9em;

    border-radius: 100%;
    background-image: radial-gradient(rgb(255, 233, 110) 15%, rgb(255, 227, 71) 55%, rgb(255, 217, 0) 65%);
    margin-left: 0.9em;
    margin-top: -0.1em;

    border: solid 0.5em rgb(255, 217, 0);
    border-color: rgb(255, 255, 255)  transparent  transparent rgba(255, 255, 255, 0.137);
    border-width: 0.08em 0.03em;   
    /* box-shadow: 0em 0.1em 0.175em 0.215em rgb(24, 24, 24); */
    box-shadow: 0.06em 0.05em 0.2em 0.2em black; 
}

.yLeft{
    width: 0;
    height: 0;
    background: transparent;
    border-top: 1.2em solid transparent;
    border-right: 2.4em solid rgb(255, 217, 0);
    border-bottom: 1.2em solid transparent;
    margin-top: 0em;
    margin-right: 0.8em ;
    z-index: 2;
    border-radius: 10%;
}
.yellow4{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.9em;
    width: 4.9em;

    margin-bottom: -.65em;
    margin-right: -0.4em;
    border-radius: 100%;
    background-image: radial-gradient(rgb(255, 233, 110) 15%, rgb(255, 227, 71) 55%, rgb(255, 217, 0) 65%);
    border: solid 0.5em rgb(255, 251, 0);
    border-color: rgb(255, 255, 255)  transparent  transparent rgba(255, 255, 255, 0.137);
    border-width: 0.08em 0.03em;   
    box-shadow: 0.06em 0.05em 0.2em 0.2em black; 
}

.yUp{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-bottom: 2.4em solid rgb(255, 217, 0);
    margin-bottom: 0.8em;
    border-radius: 10%;
}

.yellow5{
    height: 4.9em;
    width: 4em;

    margin-top: 0em;
    margin-right: 0em;
    border-radius: 100%;
    /* background-color: rgb(238, 255, 0); */
}

.yellow6{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.9em;
    width: 4.9em;

    margin-right: -0.4em;
    margin-bottom: 0em;
    border-radius: 100%;
    background-image: radial-gradient(rgb(255, 233, 110) 15%, rgb(255, 227, 71) 55%, rgb(255, 217, 0) 65%);
    border: solid 0.5em rgb(255, 251, 0);
    border-color: rgb(255, 255, 255)  transparent  transparent rgba(255, 255, 255, 0.137);
    border-width: 0.08em 0.03em;   
    box-shadow: 0.06em 0.05em 0.2em 0.2em black; 
}

.yDown{
    width: 0;
	height: 0;
    background: transparent;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-top: 2.4em solid rgb(255, 217, 0);
    margin-top: 0.8em;
    border-radius: 10%;
}

.yellow8{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 4.9em;
    width: 4.9em;

    border-radius: 100%;
    background-image: radial-gradient(rgb(255, 233, 110) 15%, rgb(255, 227, 71) 55%, rgb(255, 217, 0) 65%);
    border: solid 0.5em rgb(255, 251, 0);
    border-color: rgb(255, 255, 255)  transparent  transparent rgba(255, 255, 255, 0.137);
    border-width: 0.08em 0.03em;   
    box-shadow: 0.06em 0.05em 0.2em 0.2em black; 
}

.yRight{
    width: 0;
	height: 0;
    background: transparent;
	border-top: 1.2em solid transparent;
	border-left: 2.4em solid rgb(255, 217, 0);
	border-bottom: 1.2em solid transparent;
    margin-left: 0.8em;
    border-radius: 10%;
}

.actionButtons2{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20em;
    width: 100%;
    /* background-color: purple; */
}
.buttonB{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5.5em;
    width: 5.5em;

    background-image: radial-gradient(rgb(1, 104, 1) 15%, rgb(0, 104, 0) 55%, rgb(0, 87, 0) 75%);
    border-radius: 100%;
    border: solid 0.2em rgb(255, 0, 0);
    border-color: rgba(255, 255, 255, 0.418) rgba(255, 255, 255, 0.432) transparent transparent;
    border-width: 0.01em 0.03em;
    box-shadow: 0.06em 0.05em 0.2em 0.2em black;

    z-index: 1;
    margin-top: -12em;
    margin-left: -15em ;
    
}

#letterB{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgb(0, 87, 0);
    font-weight: bold;
    text-shadow: 1px 1px rgb(43, 43, 43), 0 1px rgb(68, 68, 68), 1px 0 rgb(168, 168, 168), 0 -1px black;
    font-size: 3em;
    margin-top: 1.2em;
    margin-left: -0.7em;
}

 .spaceAB{
    height: 1.5em;
    width: 0.6em;
    border: solid 0.2em rgba(59, 59, 59, 0.61);
    /* border-left: solid 0.5em rgba(59, 59, 59, 0.61) ; */
    background-color: rgb(59, 59, 59) ;
    /* box-shadow: inset 0em 0.01em 0.2em 0.01em rgb(32, 32, 32); */
    margin-top: -6.2em;
    margin-left: -0.8em;
    transform: rotate(135deg);
    z-index: 1;
} 

.buttonA{
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5.5em;
    width: 5.5em;

    z-index: 2;
    
    background-image: radial-gradient(rgb(0, 93, 146) 15%, rgb(0, 83, 131) 55%, rgb(0, 67, 105) 75%);
    border-radius: 100%;
    border: solid 0.2em rgb(255, 0, 0);
    border-color: rgba(255, 255, 255, 0.418) rgba(255, 255, 255, 0.432) transparent transparent;
    border-width: 0.01em 0.03em;
    box-shadow: 0.06em 0.05em 0.2em 0.2em black;
    background-color: rgb(0, 67, 105);

    margin-top: -1em; 
    margin-left: -1em;
    
}

#letterA{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgb(0, 67, 105);
    font-weight: bold;
    text-shadow: 1px 1px rgb(43, 43, 43), 0 1px rgb(68, 68, 68), 1px 0 rgb(168, 168, 168), 0 -1px black;
    font-size: 3em;
    margin-top: 1.2em;
    margin-left: 0em;
}

        /* BOX DE LOS AGARRES DEL MANDO */

        .boxBottom{
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        
            height: 50em;
            width: 100em; 
            z-index: 1;
        
            /* background-color: blue; */
            /* opacity: 0.5; */
        }       

.gridBoxBottom1{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 15em;
    z-index: 2;

    margin-top: -49em;
    margin-left: 10em;
    
    /* background-color: beige; */
}
.gridBoxBottom2{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 15em;
    z-index: 2;
    margin-top: -49em;
    
        
    /* background-color: beige; */
}
.gridBoxBottom3{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 25em;
    z-index: 4;

    margin-top: -25em;
    margin-right: 10em;
    
    /* background-color: beige; */
}
.gridBoxBottom4{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 15em;
    z-index: 2;
    /* background-color: beige; */
}
.gridBoxBottom5{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 50em;
    width: 15em;
    z-index: 2;
    
    /* background-color: beige; */
}


.centralLeg{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 45em;
    width: 22.5em;
    z-index: 2;
    background-image: linear-gradient(rgb(175, 175, 175) 25%, rgb(175, 175, 175));
    /* opacity: 0.5; */
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    margin-top: 0em;
    margin-right: 0em;
    border-bottom: solid 0.3em rgb(143, 143, 143) ;
    border-right: solid rgb(175, 175, 175);
    /* border-bottom: solid 0.5em rgba(192, 192, 192, 0); */
    border-left: solid 0.5em rgb(175, 175, 175);
    border-width: 0.6em 0.05em;
    box-shadow: inset 0em -0.5em 0.2em 0.05em rgba(145, 145, 145, 0.35);
}


.botCurveL{
    /* box-sizing: border-box; */
    width: 8em;
    height: 8em; 
    border: solid; 
    border-width: 2.95em 3em;
    border-top-right-radius: 75%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-color: rgb(175, 175, 175) rgb(175, 175, 175) transparent transparent;
    box-shadow: inset -0.1em 0.1em 0.1em 0.05em rgb(114, 114, 114);
    /* opacity: 0.5; */
    margin-top: 1.9em;
    margin-right: -8.8em;
    z-index: 4;
    /* background-color: darkgreen; */
}

.botCurveR{
    /* box-sizing: border-box; */
    width: 8em;
    height: 8em; 
    border: solid; 
    border-width: 2.95em 3em;
    border-top-right-radius: 0%;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-color: rgb(175, 175, 175) transparent transparent rgb(175, 175, 175);
    box-shadow: inset 0.1em 0.1em 0.1em 0.05em rgb(116, 116, 116);
    /* opacity: 0.5; */
    margin-top: -47.2em;
    margin-left: -28.8em;
    z-index: 3;
    
    /* background-color: darkgreen; */
}

.leftLeg{
    box-sizing: border-box;
    height: 33em;
    width: 16em;
    z-index: 1;
    background-image: radial-gradient(circle, rgb(185, 185, 185) 5%, grey 65%);
    border-radius: 5% 28% 51% 38% / 36% 9% 76% 62% ;
    margin-top: 0em;
    margin-right: -6em;
    transform: rotate(2deg);
    box-shadow: inset 0em 0.01em 0.3em 0.1em rgba(240, 240, 240, 0.993);
    border: solid;
    border-color: rgb(163, 163, 163)  rgb(138, 138, 138) rgba(168, 168, 168, 0.603)  rgb(92, 92, 92) ;
    border-width: 0.1em 0.3em;   

}

.rightLeg{
    box-sizing: border-box;
    height: 33em;
    width: 16em;
    z-index: 1;
    background-image: radial-gradient(circle, rgb(185, 185, 185) 5%, grey 65%);
    border-radius: 28% 10% 38% 51% / 9% 36% 62% 76% ;
    margin-top: -48em;
    margin-left: -25em;
    transform: rotate(-2deg);
    box-shadow: inset 0em 0.01em 0.3em 0.1em rgb(218, 218, 218);
    border: solid;
    border-color: rgb(92, 92, 92)  rgb(99, 99, 99) rgb(168, 168, 168)  rgb(163, 163, 163) ;
    border-width: 0.1em 0.3em;   
}



